[Unit]
Description=RTSPtoWeb daemon 
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/RTSPtoWeb/
ExecStart=/root/RTSPtoWeb/RTSPtoWeb -config /root/RTSPtoWeb/config.json
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5
Restart=always
OOMPolicy=continue

[Install]
WantedBy=multi-user.target
